header {
  height: 80px;
  background-color: #444;
}

#NavList {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
}

/*scollable containter */
p {
  width: 450px;
  height: 300px;
  overflow: auto;
}

/*hover and transition*/

button:hover{
  background-color: deeppink;
}
button {
  transition: 350ms;
}
footer {
  height: 150px;
  background-color: #444;
}